
/* 公共品牌颜色 */
$public-red: #F06C7A;

/* 公共背景色 */
$public-bg-default: #FFFFFF;
$public-bg-red: #F06C7A;
$public-bg-gray: #fdfbfe;
$public-bg-orange: #f0b46c;
$public-spec-bg-gray: #f0f1ec;

/* 公共字体色 */
$public-text-gray: #b1b1b1;
$public-text-green: #52d4a2;
$public-title-black: #3c3c3c;


/* 公共边框颜色 */
$public-border-light-gray: #f8f6f9;
